# Python bytecode
__pycache__/
*.py[cod]

# Environment files
.env

# Virtual environments
venv/
env/
myenv

# IDE/editor configs
.vscode/
.idea/

# Logs
*.log

# OS-specific files
.DS_Store
Thumbs.db
